@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  height: 10px;
  background-color: #dad9d9;
  border-radius: 4px;
}

/* Hide scrollbar if not hovered (Firefox) */
html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}
